* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cabecalho {

    background-color: black;
    color : white;
    padding: 20px;
    text-align: center;
}

#Texto_principal {

    font-weight: bold;
    color: deepskyblue;
    font-size: 30px;
    margin: 0;
}